
<section class="page-wrapper">
  <container>
  
    <%= form_for @post, as: :post, url: new_sitemap_path, html: { class: "form_article" } do |f| %>
      
      <div class="form_title">

        <h3>Sitemaps</h3>

      </div>
      
      <div class="form_btn">

        <%= button_tag(:type => 'button', class: "btn cta-dark center-block") do %>
          <% link_to t('Create New Sitemap'), new_sitemap_path %>
        <% end %>

      </div>

      <% end %>

  </container>
</section>
