
<section class="page-wrapper">
  <container>

    <h3 class="sub-title">Your Free Tools:</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-title">
            <h3>Sitemap Builder</h3>
            <span class="card-title__icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
          </div>
          <div class="card-body">
            <p class="text-center">Content compaign builders, persona management, strategy documentation, and more.</p>
            <div class="card-body__link text-center">
              <%= link_to "Go to Sitemap Builder", sitemaps_path, class: "text-center mt-10" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card card-left">
          <div class="card-body">
            <h3>Organization Name</h3>
            <div class="card-body__link">
                <a href="#" class="mt-10">DemandSphere, Inc.</a>
            </div>
            <h3 class="mt-30">Current Account</h3>
            <p class="card-body__link">
                <a href="#" class="mt-10">DemandSphere, Inc.</a>
            </p>
            <p class="card-body__link">
              <a href="#" class="mt-10">Manage Accounts</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h3 class="sub-title">Learn About Additional Products:</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-title">
            <h3>DemandMetrics</h3>
            <span class="card-title__icon">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </span>
          </div>
          <div class="card-body">
            <p class="text-center">Advanced analytics, data management, and intelligence for SEO and Content Marketing.</p>
            <div class="card-body__link text-center">
              <a href="#" class="text-center mt-10">Go to DemandMetrics</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 card-offset">
        <div class="card">
          <div class="card-title">
            <h3>DemandCrawl</h3>
            <span class="card-title__icon">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </span>
          </div>
          <div class="card-body">
            <p class="text-center">Large-scale technical SEO and performance analysis for websites.</p>
            <div class="card-body__link text-center">
              <a href="#" class="text-center mt-10">Go to DemandCrawl</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </container>
</section>
