<header id="top" class="header navbar-fixed-top">
    <div class="container">
        <h1 class="logo pull-left">
                <%= link_to root_path, class: 'color-primary vertical-center' do %>
                    <!-- <img id="logo-image" class="logo-image" src="/static/images/wmlogo.png" alt="Logo"> -->
                    <i id="logo-icon" class="fa fa-sitemap"></i><span class="logo-title"> DEMANDSPHERE</span>
                <% end %>
            </h1>
        <!--//logo-->
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--//nav-toggle-->
            </div>
            <!--//navbar-header-->
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <%= link_to "Home", welcome_path %>
                    </li>
                    <li class="nav-item "><a href="#">Features</a>
                    </li>

                    <li class="nav-item "><a href="#">Pricing</a>
                    </li>


                    <!--  <li class="nav-item"><a href="/accounts/login/">Log in</a></li> -->
                    <li class="nav-item last">
                        <% if user_signed_in? %>
                            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                        <% else %>
                            <%= link_to "Log In", new_user_session_path %>
                        <% end %>
                    </li>

                </ul>
                <!--//nav-->
            </div>
            <!--//navabr-collapse-->
        </nav>
        <!--//main-nav-->
    </div>
</header>
